<!DOCTYPE html>
<html>
<head>
  <title>Society</title>
  <%= stylesheet_link_tag    'society/application', media: 'all' %>
  <%= javascript_include_tag 'society/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
